<%= form_with(model: device, local: true) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :device_name %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :device_model %>
  </div>

  <div class="field">
    <%= form.label :serial_num %>
    <%= form.text_field :serial_num, id: :device_serial_num %>
  </div>

  <div class="field">
    <%= form.label :buy_date %>
    <%= form.date_select :buy_date, id: :device_buy_date %>
  </div>

  <div class="field">
    <%= form.label :age_limit %>
    <%= form.number_field :age_limit, id: :device_age_limit %>
  </div>

  <div class="field">
    <%= form.label :borrower %>
    <%= form.text_field :borrower, id: :device_borrower %>
  </div>

  <div class="field">
    <%= form.label :loan_date %>
    <%= form.date_select :loan_date, id: :device_loan_date %>
  </div>

  <div class="field">
    <%= form.label :return_date %>
    <%= form.date_select :return_date, id: :device_return_date %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.number_field :state, id: :device_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
