<%- model_class = Device -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @device.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
  <dd><%= @device.model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:serial_num) %>:</strong></dt>
  <dd><%= @device.serial_num %></dd>
  <dt><strong><%= model_class.human_attribute_name(:buy_date) %>:</strong></dt>
  <dd><%= @device.buy_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:age_limit) %>:</strong></dt>
  <dd><%= @device.age_limit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:borrower) %>:</strong></dt>
  <dd><%= @device.borrower %></dd>
  <dt><strong><%= model_class.human_attribute_name(:loan_date) %>:</strong></dt>
  <dd><%= @device.loan_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:return_date) %>:</strong></dt>
  <dd><%= @device.return_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @device.state %></dd>
</dl>

<p>
  <%= button_to "借用", action: :loan, method: :put %>
</p>

<%= link_to 'Back', devices_path %>
