<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :coding %><br>
    <%= f.text_field :coding %>
  </p>

  <p>
    <%= f.label :department_id %><br>
    <%= f.text_field :department_id %>
  </p>

  <p>
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </p>

  <p>
    <%= f.label :sex %><br>
    <%= f.text_field :sex %>
  </p>

  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>

  <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>