<h1>Listing users</h1>
<%= link_to 'New user', new_user_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Coding</th>
    <th>Department_id</th>
    <th>Role</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Phone</th>
    <th>Email</th>
    <th>State</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.coding %></td>
      <td><%= user.department_id %></td>
      <td><%= user.role %></td>
      <td><%= user.sex %></td>
      <td><%= user.age %></td>
      <td><%= user.phone %></td>
      <td><%= user.email %></td>
      <td><%= user.state %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user),
                      method: :delete,
                      data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>