<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Coning:</strong>
  <%= @user.coding %>
</p>

<p>
  <strong>Department_id:</strong>
  <%= @user.department_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>
<% if user_permission_id?(current_user) or current_user?(@user) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<% if user_permission_id?(current_user) && !current_user?(@user) %>
  <%= link_to 'Destroy', user_path(@user),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>