<p id="notice"><%= notice %></p>

<h1>Records</h1>

<table>
  <thead>
    <tr>
      <th>Serial num</th>
      <th>Borrower</th>
      <th>Loan date</th>
      <th>Return date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.serial_num %></td>
        <td><%= record.borrower %></td>
        <td><%= record.loan_date %></td>
        <td><%= record.return_date %></td>
        <% if user_permission_id?(current_user) && !current_user?(@user) %>
          <td><%= link_to 'Edit', edit_record_path(record) %></td>
          <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_permission_id?(current_user) && !current_user?(@user) %>
  <%= link_to 'New Record', new_record_path %>
<% end %>