<p id="notice"><%= notice %></p>

<p>
  <strong>Serial num:</strong>
  <%= @record.serial_num %>
</p>

<p>
  <strong>Borrower:</strong>
  <%= @record.borrower %>
</p>

<p>
  <strong>Loan date:</strong>
  <%= @record.loan_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @record.return_date %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
